---
layout: case-study
asentinel_wires:
 - 1
 - 2
 - 3
 - 4
 - 5
asentinel_whiteboards:
 - 1
 - 2
 - 3
 - 4
 - 5
 - 6
 - 7
 - 8
 - 9
 - 10
asentinel_hf-wires:
 - 1
 - 2
 - 3
 - 4
asentinel_finals:
 - 1
 - 2
 - 3
 - 4
 - 5
asentinel_designs:
 - 1
 - 2
 - 3
---

<div class="project" id="asentinel">
    <div class="return">
        <a href="#">&larr; Back to Recent Work</a>
    </div>
    <header>
        <h2 class="title">Asentinel</h2>
        <p class="description">Redesigning an outdated, overly complex enterprise application.</p>
    </header>
    <div class="content">
        <p>Asentinel’s eponymous telecommunication expense management app began its life as a Windows desktop application, but was ported to the web in the early 2000s. While progress was made on the backend in the years following, the user interface was left largely untouched. Asentinel approached my team to architect and design a better experience for their users. I was responsible for architecture, UX, design, and front-end&nbsp;prototyping.</p>
        <h3>The problem</h3>
        <p>Asentinel already carried an ancient UI, but it was exacerbated by the addition of one-off pieces of functionality added over the years. This resulted in an unintuitive experience that required a three day “training conference” to onboard new users whenever Asentinel brought on a new&nbsp;client.</p>
        <h3>My goal</h3>
        <p>Simplicity. Specifically, I wanted to reign in the architecture with a smart, intuitive navigation that emphasized commonly used&nbsp;features.</p>
        <p>Since Asentinel’s core functionality is processing and auditing invoices, I also wanted to create a simple dashboard that would give users the information most useful to them without having to dig through thousands of invoices and other&nbsp;documents.</p>
        <h3>My process</h3>
        <h4>Architecture</h4>
        <p>My team spent several hours with Asentinel’s product team breaking down architecture and user flows on a white&nbsp;board.</p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for whiteboard in page.asentinel_whiteboards %}
                <li class="slide"><img src="/img/projects/asentinel/white-board-{{ whiteboard }}.jpg"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <p>Asentinel’s clients, and even their clients’ users, rarely utilize the app in the same way. A user’s role dictates what parts of the app they have access to. For example, a user may only handle disputing invoices with telecom&nbsp;vendors.</p>
        <p>We ended up with a much simpler architecture for the&nbsp;app.</p>
    </div>
    <div class="examples">
        <div class="example"><img src="/img/projects/asentinel/sitemap.jpg" alt=""></div>
    </div>
    <div class="content">
        <h4>Beginning design</h4>
        <p>I started the design process manually, on white boards and paper, and quickly moved to wire&nbsp;framing. </p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for wireframe in page.asentinel_wires %}
                <li class="slide"><img src="/img/projects/asentinel/wire-{{ wireframe }}.png"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
       <p>I also designed high-fidelity wireframes of layouts and modules. Since the app is primarily information in tables, I wanted to explore handling tables&nbsp;responsively.</p> 
    </div>
    <div class="examples">
        <div class="example"><img data-src="/img/projects/asentinel/hf-wire-1.jpg"></div>
        <div class="example"><img data-src="/img/projects/asentinel/hf-wire-2.jpg"></div>
        <div class="example"><img data-src="/img/projects/asentinel/hf-wire-3.jpg"></div>
    </div>
    <div class="content">
        <h4>Prototyping</h4>
        <p>To introduce the idea of a dashboard, I built a prototype of the&nbsp;design.</p>
        <p><a class="button" href="http://work.zumwa.lt/as-design-prototype/" target="_blank">View the design prototype</a></p>
        <p>In order to understand the functional needs of Asentinel’s users, I started creating simple clickable prototypes early in the design process. Wanting to be able to test my ideas with real users, I ran an eye tracking study to test the flow of adding new service on the prototype below at Asentinel’s User&nbsp;Conference.</p>
        <p><a class="button" href="http://work.zumwa.lt/as-prototype/app/" target="_blank">View the clickable prototype</a></p>
        <h4>Getting into design</h4>
        <p>I had grand ideas for the application at first. Using my high-fidelity wireframes as a foundation, I designed a simple, fresh aesthetic with a focus on color and typography. I also designed a dashboard to give users a quick glance at the information that matters most to&nbsp;them.</p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for design in page.asentinel_designs %}
                <li class="slide"><img src="/img/projects/asentinel/design-{{ design }}.jpg"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <p>Asentinel is first and foremost a utility, though. I learned quickly that the aesthetic I was pursuing didn’t serve the users well. Though attractive, it put utility in the backseat on the larger, data-heavy views. I explored a simpler aesthetic, with clear typography and calls to action. As the views of the app largely revolve around large tables, I wanted to take extra care to make them easily&nbsp;scannable.</p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for design in page.asentinel_finals %}
                <li class="slide"><img src="/img/projects/asentinel/final-{{ design }}.jpg"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <p>The design was intended to be refreshing, but familiar. I simplified the navigation, nesting many of the lesser-used items into a&nbsp;dropdown.</p>
        <h3>Sometimes things don’t work out</h3>
        <p>In the end, budgets change, people leave organizations, and priorities shift. Asentinel went down this path, and it’s possible that the redesign I worked on may never see the light of day. At the very least, it was a learning&nbsp;experience.</p>
    </div>
    <footer>
        <div class="up-next">
            <small>Up Next</small>
            <a data-load="boats"><h2>Boats.com</h2></a>
            <p>A new strategy and redesign for an under-developed brand.</p>
        </div>
    </footer>
</div>