---
layout: case-study
yw_sketches:
 - 1
 - 2
 - 3
 - 4
 - 5
 - 6
yw_designs:
 - 1
 - 2
 - 3
 - 4
 - 5
 - 6
 - 7
 - 8
---
<div class="project" id="yw">
    <div class="return">
        <a href="#">&larr; Back to Recent Work</a>
    </div>
    <header>
        <h2 class="title">YachtWorld</h2>
        <p class="description">A design overhaul for a neglected high-end classifieds&nbsp;site.</p>
        
    </header>
    <div class="content">
        <p>My team at Simple Focus was engaged to redesign YachtWorld.com to reflect their users and the watercraft they feature. I was responsible for the design process and front-end&nbsp;prototyping.</p>

        <h3>The problem</h3>
        <p>For a site that nets around 20 million visits a year, YachtWorld.com is outdated, slow, and a pain to use. The process of searching for boats is overly complex and poorly designed, and the individual boat listings are busy and often&nbsp;uninformative.</p>
        
        <h3>Doing our research</h3>
        <p>Before thinking about design, my team conducted in-depth research and user interviews to gauge perception of YachtWorld.com and its user base. We asked them about themselves, their experiences buying and selling boats, and their interaction with YachtWorld.com in that capacity. We also performed a heuristic review of the site to identify existing UX problems and possible solutions, and we performed a competitive analysis of YachtWorld.com to contrast it with its competitors. As a last step before diving into design, I designed and led a mood board exercise with stakeholders from YachtWorld.com's team. The mood board gave me insight into how each stakeholder viewed YachtWorld.com's brand and the aspirations they had for the brand going forward. Armed with all of this information, I began the design&nbsp;process.</p>
    </div>
    <div class="examples moodboard">
        <div class="example">
            <img src="/img/projects/yachtworld/moodboard.jpg" alt="">
            <img class="heatmap" src="/img/projects/yachtworld/moodboard-heatmap.jpg" alt="">
            <small>Tip: <span class="show-desktop">Hover over</span><span class="show-mobile">Tap on</span> the mood board to see the stakeholder's feedback as a heat map.</small>
        </div>
    </div>
    <div class="content">
        <h3>My process</h3>
        <p>I started this project by sketching a few ideas for both layouts and search interactions before diving into&nbsp;design.</p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for sketch in page.yw_sketches %}
                <li class="slide"><img src="/img/projects/yachtworld/sketches/sketch-{{ sketch }}.jpg"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <h3>My goal</h3>
        <p>I wanted to create an aesthetic that reflected the type of clientele YachtWorld.com attracts. I was particularly interested in creating a sense of luxury by pairing good, simple typography with stylized images of yachts. I also wanted to use larger images in the listings. I designed several different aesthetic options for the home page, search results, and individual boat detail&nbsp;pages.</p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for design in page.yw_designs %}
                <li class="slide"><img src="/img/projects/yachtworld/design/design-{{ design }}.jpg"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <h3>Bringing it together</h3>
        <p>After an initial round of designs, we engaged YachtWorld's users for another survey. This time, we showed them our design ideas and asked for their unfiltered input. The survey process yielded responses from "That's amazing!"<sup><a class="reference" id="yw-ref1" href="#yw-fn1">1</a></sup> to "Fire the designer.&nbsp;Now."<sup><a class="reference" id="yw-ref2" href="#yw-fn2">2</a></sup></p>
        <p>More than feedback about aesthetics, engaging an audience in this way bridges the divide between designers and "normal" users. There tends to be a slight disconnect at times for most designers, myself included, when it comes to making things for non-designers. Function matters just as much as form, and neither YachtWorld.com, nor its users, will reap benefits from a "pretty, but pointless"<sup><a class="reference" id="yw-ref3" href="#yw-fn3">3</a></sup>&nbsp;redesign.</p>
        <p>After processing the stakeholders' and users' feedback, I delivered a final design direction that delivered the experience that the YachtWorld team was looking for. The aesthetic below is slowly being pushed into&nbsp;production.</p>
    </div>
    <div class="examples">
		<div class="example half"><img data-src="/img/projects/yachtworld/home-mobile.jpg" data-full="/img/projects/yachtworld/home-mobile-full.jpg"></div>
		<div class="example half"><img data-src="/img/projects/yachtworld/detail-mobile.jpg" data-full="/img/projects/yachtworld/detail-mobile-full.jpg"></div>
		<div class="example"><img data-src="/img/projects/yachtworld/home.jpg" data-full="/img/projects/yachtworld/home-full.jpg"></div>
    </div>
    <div class="content">
        <h3>Prototype</h3>
        <p>As a last step before handing the design off to YachtWorld.com’s development team, I built responsive front-end prototypes to explore interactions on both desktop and&nbsp;mobile.</p>
        <p>You can <a href="http://work.zumwa.lt/yw-prototype/" target="_blank">view the prototype</a> or take a peek at <a href="http://m.yachtworld.com">the live mobile site</a>&nbsp;now.</p>
    </div>
    <div class="footnotes">
        <sup id="yw-fn1">1. Thanks! That's kind of you. <a  class="footnote" href="#yw-ref1">Jump back to footnote 1.</a></sup>
        <sup id="yw-fn2">2. Hey pal. I have feelings. <a  class="footnote" href="#yw-ref2">Jump back to footnote 2.</a></sup>
        <sup id="yw-fn3">3. Actual feedback from a user. <a  class="footnote" href="#yw-ref3">Jump back to footnote 3.</a></sup>
    </div>
    <footer>
        <div class="up-next">
            <small>Up Next</small>
            <a data-load="cbt"><h2>CrossBrowserTesting.com</h2></a>
            <p>An ongoing, iterative redesign of a web app.</p>
        </div>
    </footer>
</div>