---
layout: default
title: Casey Zumwalt — UI/UX Designer and Developer
description: I design experiences and write code. I'm fortunate to make things for a living.
grooveshark_sketches:
 - 1
 - 2
 - 3
 - 4
 - 5
 - 6
 - 7
 - 8
 - 9
 - 10
cbt_designs:
 - 1
 - 2
 - 3
 - 4
 - 5
 - 6
pl_sketches:
 - 1
 - 2
 - 3
 - 4
yw_sketches:
 - 1
 - 2
 - 3
 - 4
 - 5
 - 6
yw_designs:
 - 1
 - 2
 - 3
 - 4
 - 5
 - 6
 - 7
 - 8
---

<section class="about">
	<header>
		<div class="brand">
	        <a href="#">{% include brand.html %}</a>
	    </div>
	    <nav class="primary-nav" role="navigation">
	    	<a class="current" href="#about">About</a>
	    	<a href="#recent-work">Recent Work</a>
	    </nav>
	</header>
    
    <div class="content">
        <p><strong>Hi, I'm Casey.</strong></p>
        <p>I’m fortunate to make things for a living. I live in beautiful Portland, Oregon, where I design experiences and write code with a great team at <a href="http://simplefocus.com">Simple&nbsp;Focus</a>. You can <a href="/assets/casey-zumwalt-resume.pdf">download my resume</a> if you'd like.</p>
        <p>I believe in simple, thoughtful design and interaction that solves problems while empowering users. I love both form and function, both delightfulness and usability, and I’m happiest making them work in&nbsp;harmony.</p>
        <p><a href="http://twitter.com/laurazumwalt">I'm lucky</a>.</p>
    </div>
    <div class="such-social">
        <p>
            <span>Let's be friends!</span>
            <span>I'm <a class="twitter" href="http://twitter.com/zumwalt">zumwalt</a> <a class="dribbble" href="http://dribbble.com/zumwalt">on</a> <a class="codepen" href="http://codepen.io/zumwalt">most</a> <a class="github" href="http://github.com/zumwalt">sites</a>.</span>
        </p>
    </div>
</section>
<section class="recent-work">
    <header>
        <small>Some recent work</small>
    </header>
    <div class="projects">
        <a href="#grooveshark">
            <h2 class="title">Grooveshark</h2>
            <p class="description">A redesign exercise for a streaming music&nbsp;app.</p>
        </a>
        <a href="#yachtworld">
            <h2 class="title">YachtWorld</h2>
            <p class="description">A design overhaul for a neglected high-end classifieds&nbsp;site.</p>
        </a>
        <a href="#crossbrowsertesting">
            <h2 class="title">CrossBrowserTesting.com</h2>
            <p>An ongoing, iterative redesign of a web&nbsp;app.</p>
        </a>
        <a href="#preboarding">
            <h2 class="title">Preboarding</h2>
            <p class="description">An app for facilitating mood board&nbsp;exercises.</p>
        </a>
        <a href="#project-list">
            <h2 class="title">Project List</h2>
            <p class="description">A marketing site for a team productivity&nbsp;app.</p>
        </a> 
        <!-- <a href="#boats">
            <h2 class="title">Boats.com</h2>
            <p class="description">A redesign and strategic rethinking of an underdeveloped&nbsp;brand.</p>
        </a> -->
        
    </div>
</section>

<div class="project" id="crossbrowsertesting">
    <div class="return">
        <a href="#">&larr; Back to Recent Work</a>
    </div>
    <header>
        <h1 class="title">CrossBrowserTesting.com</h1>
        <p class="description">An ongoing, iterative redesign of a web&nbsp;app.</p>
    </header>
    <div class="content">
        <p>Over the past two years, my team at Simple Focus has helped CrossBrowserTesting.com design and develop a world-class web app. I established the creative direction early on in the project, and we’re constantly iterating and improving the experience. In my time working with CBT, the app’s user base has more than doubled to nearly&nbsp;90,000.</p>
        <h3>The problem</h3>
        <p>CrossBrowserTesting.com has always had a strong product &mdash; easy testing of websites across multiple operating systems and browsers from the comfort of your computer. When I began working on the product, the UI was clunky and outdated, with bits and pieces of open source design frameworks and icon packs scattered about. Launching a live test was difficult to navigate, with a table based and overly complex UI. My first order of business was to dream up a simpler experience.</p>
        <h3>My process</h3>
        <p>I began the project on paper. I sketched several ideas for the core functionality of the app at the time &mdash; choosing a browser and operating system to test.</p>
        <img src="/img/projects/cbt/sketches/sketch-1.jpg" alt="Sketches of CrossBrowserTesting's live test picker">
        <p>My next step was diving head-first into the UI. Based around a common color palette, I explored both the aesthetic of the overall site as well as the specific interactions of the live test picker.</p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for design in page.cbt_designs %}
                <li class="slide"><img src="/img/projects/cbt/design/design-{{ design }}.jpg"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <h3>Bringing it together</h3>
        <p>In the end, the team at CrossBrowserTesting.com went with a simple UI that's still evolving today. Since I began the project, the app has grown to include screenshot testing and automated Selenium testing. The screens below are pulled from the live application, which can be accessed (with a free trial) at <a rel="noreferrer" href="http://crossbrowsertesting.com">CrossBrowserTesting.com</a></p>
    </div>
    <div class="examples">
    	<div class="example">
            <img data-src="/img/projects/cbt/test-center-small.jpg" data-full="/img/projects/cbt/test-center.png">
        </div>
        <div class="example">
            <img data-src="/img/projects/cbt/live-testing.png"  class="right">
        </div>
        <div class="example">
            <img data-src="/img/projects/cbt/launching-test.png"  class="left">
        </div>
        <div class="example">
            <img data-src="/img/projects/cbt/active-test.png"  class="right">
        </div>
        <div class="example">
            <img data-src="/img/projects/cbt/screenshots.png"  class="left">
        </div>
        <div class="example">
            <img data-src="/img/projects/cbt/screenshot-history.png"  class="right">
        </div>
        <div class="example">
            <img data-src="/img/projects/cbt/screenshot-detail.png"  class="left">
        </div>
    </div>
    <footer>
        <div class="up-next">
            <small>Up Next</small>
            <a href="#preboarding"><h2>Preboarding</h2></a>
            <p>An app for facilitating moodboard exercises.</p>
        </div>
    </footer>
</div>

<div class="project" id="project-list">
    <div class="return">
        <a href="#">&larr; Back to Recent Work</a>
    </div>
    <header>
        <h1 class="title">Project List</h1>
        <p class="description">An in-progress marketing site for a simple team productivity&nbsp;app.</p>
    </header>
    <div class="content">
        <p>Project List is a simple project dashboard built by my team at Simple Focus to facilitate our stand-up meetings. It tracks a few simple metrics, like status and percent complete, to help us quickly understand what each team member is working on. As we begin to introduce the product to outside users and teams, I'm redesigning the marketing site to better showcase Project List's features and&nbsp;benefits.</p>
        <h3>The problem</h3>
        <p>Project List's <a href="http://projectlist.com" rel="noreferrer">current marketing site</a> is a bit limited in the way it's designed (by myself, admittedly). It is difficult to add new content, and the site wasn't designed with collecting payments or adding outside users in&nbsp;mind.</p>
        <h3>My goal</h3>
        <p>I wanted to give Project List a proper marketing site &mdash; one that can grow as the product does. The site should be able to support multiple pages of content and entice users to sign&nbsp;up.</p>
        <h3>My process</h3>
        <p>As this is an internal, non-billing project, my time was limited. I dove in head first with a few sketches to quickly get ideas on&nbsp;paper.</p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for sketch in page.pl_sketches %}
                <li class="slide"><img src="/img/projects/project-list/sketches/sketch-{{ sketch }}.jpg"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <h3>Bringing it together</h3>
        <p>In the end, I made the decision to promote Project List's responsive, mobile-first view. Standup meetings are often held away from desks and laptops, so I want users to know that Project List works on their phones. I chose a simple color palette and aesthetic with a focus on typography. I also added a few illustrative elements to accompany Project List's mascot, the Project List Robot. The screens below are snippets of a few pages from the new&nbsp;site.</p>
    </div>
    <div class="examples">
    	<div class="example">
    		<img data-src="/img/projects/project-list/home-small-1.jpg" data-full="/img/projects/project-list/home.jpg">
    	</div>
    	<div class="example">
    		<img data-src="/img/projects/project-list/home-small-2.jpg" data-full="/img/projects/project-list/home.jpg">
    	</div>
    	<div class="example">
    		<img data-src="/img/projects/project-list/robots-small.jpg">
    	</div>
    	<div class="example">
    		<img data-src="/img/projects/project-list/about-small.jpg" data-full="/img/projects/project-list/about.jpg">
    	</div>
    	<div class="example">
    		<img data-src="/img/projects/project-list/features-small.jpg" data-full="/img/projects/project-list/features.jpg">
    	</div>
    </div>
    <footer>
        <div class="up-next">
            <small>Up Next</small>
            <a href="#grooveshark"><h2>Grooveshark</h2></a>
            <p>A no-limits redesign for a streaming music app.</p>
        </div>
    </footer>
</div>

<div class="project" id="preboarding">
    <div class="return">
        <a href="#">&larr; Back to Recent Work</a>
    </div>
    <header>
        <h1 class="title">Preboarding</h1>
        <p class="description">An app for facilitating mood board exercises.</p>
    </header>
    <div class="content">
        <p>My team at Simple Focus often does mood board exercises with clients at the beginning of projects. It serves as a way to create a visual vocabulary when they speak about their brand. What <em>does</em> "clean" actually mean when it comes to&nbsp;design?</p>

        <h3>The problem</h3>
        <p>As a stakeholder, contributing to a mood board is difficult if you can't be in the room. I find mood boards, and the insight they provide, to be invaluable when I get into the design process, so I wanted to create a solution that allowed remote stakeholders to contribute from anywhere. Why not build an&nbsp;app?</p>

        <h3>My goal</h3>
        <p>I wanted to build an app that allowed individual users to collaborate in real time with their fellow stakeholders by placing "stickers" on different elements of a mood board. I wanted each sticker to contain the user's initials and a color reflecting their opinion (green for "on brand", red for "off brand", and blue for "aspirational"). I also wanted to be able to watch the exercise unfold in real time in my&nbsp;browser.</p>

        <h3>My process</h3>
        <img src="/img/projects/preboarding/whiteboard.jpg">
        <p>I quickly sketched out a few of the core concepts on a whiteboard to get them out of my head. I chose Ruby on Rails as my framework due to its learning curve. I scaffolded out a simple application, added authentication with <a href="https://github.com/plataformatec/devise">Devise</a>, and built a mood board model and its accompanying controllers and views. Using the scaffolded CRUD interface for the mood board model, I added simple file uploading with <a href="https://github.com/thoughtbot/paperclip">Paperclip</a>. To enable real time communication between the different users of the apps, I integrated <a href="https://pusher.com/">Pusher</a> to enable websocket connections between clients.</p>

        <h3>Bringing it together</h3>
        <p>Contrary to my nature, I saved design for last. I put together a simple UI for the app as a whole, and designed microinteractions for the addition and removal of the "stickers". The app is simple, nimble, and serves its purpose well. With everything in place, I have an interface that allows me to upload mood boards and allows stakeholders to interact with them. I can watch everything happen in real time, take notes, and ask informed questions afterwards. As a result, I'm able to have a clearer understanding of the stakeholders' brand and their expectations before I get too far into the design&nbsp;process.</p>
    </div>
    <div class="examples">
    	<div class="example video">
    		<iframe src="//player.vimeo.com/video/119037999?autoplay=1&loop=1&color=fb7560&title=0&byline=0&portrait=0" width="500" height="278" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    	</div>
    </div>
    <footer>
        <div class="up-next">
            <small>Up Next</small>
            <a href="#project-list"><h2>Project List</h2></a>
            <p>A marketing site for a team productivity app.</p>
        </div>
    </footer>
</div>

<div class="project" id="yachtworld">
    <div class="return">
        <a href="#">&larr; Back to Recent Work</a>
    </div>
    <header>
        <h1 class="title">YachtWorld</h1>
        <p class="description">A design overhaul for a neglected high-end classifieds&nbsp;site.</p>
        
    </header>
    <div class="content">
        <p>My team at Simple Focus was engaged to redesign YachtWorld.com to reflect their users and the watercraft they feature. I was responsible for the design process and front-end prototyping.</p>

        <h3>The problem</h3>
        <p>For a site that nets around 20 million visits a year, YachtWorld.com is outdated, slow, and a pain to use. The process of searching for boats is overly complex and poorly designed, and the individual boat listings are busy and often uninformative.</p>
        
        <h3>Doing our research</h3>
        <p>Before thinking about design, my team conducted in-depth research and user interviews to gauge perception of YachtWorld.com and its user base. We asked them about themselves, their experiences buying and selling boats, and their interaction with YachtWorld.com in that capacity. We also performed a heuristic review of the site to identify existing UX problems and possible solutions, and we performed a competitive analysis of YachtWorld.com to contrast it with its competitors. As a last step before diving into design, I designed and led a mood board exercise with stakeholders from YachtWorld.com's team. The mood board gave me insight into how each stakeholder viewed YachtWorld.com's brand and the aspirations they had for the brand going forward. Armed with all of this information, I began the design process.</p>

        <div class="moodboard">
            <img src="/img/projects/yachtworld/moodboard.jpg" alt="">
            <img class="heatmap" src="/img/projects/yachtworld/moodboard-heatmap.jpg" alt="">
            <small>Tip: <span class="show-desktop">Hover over</span><span class="show-mobile">Tap on</span> the mood board to see the stakeholder's feedback as a heat map.</small>
        </div>
        <h3>My process</h3>
        <p>I started this project by sketching a few ideas for both layouts and search interactions before diving into design.</p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for sketch in page.yw_sketches %}
                <li class="slide"><img src="/img/projects/yachtworld/sketches/sketch-{{ sketch }}.jpg"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <h3>My goal</h3>
        <p>I wanted to create an aesthetic that reflected the type of clientele YachtWorld.com attracts. I was particularly interested in creating a sense of luxury by pairing good, simple typography with stylized images of yachts. I also wanted to use larger images in the listings. I designed several different aesthetic options for the home page, search results, and individual boat detail pages.</p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for design in page.yw_designs %}
                <li class="slide"><img src="/img/projects/yachtworld/design/design-{{ design }}.jpg"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <h3>Bringing it together</h3>
        <p>After an initial round of designs, we engaged YachtWorld's users for another survey. This time, we showed them our design ideas and asked for their unfiltered input. The survey process yielded responses from "That's amazing!"<sup><a class="reference" id="yw-ref1" href="#yw-fn1">1</a></sup> to "Fire the designer. Now."<sup><a class="reference" id="yw-ref2" href="#yw-fn2">2</a></sup></p>
        <p>More than feedback about aesthetics, engaging an audience in this way bridges the divide between designers and "normal" users. There tends to be a slight disconnect at times for most designers, myself included, when it comes to making things for non-designers. Function matters just as much as form, and neither YachtWorld.com, nor its users, will reap benefits from a "pretty, but pointless"<sup><a class="reference" id="yw-ref3" href="#yw-fn3">3</a></sup> redesign.</p>
        <p>After processing the stakeholders' and users' feedback, I put together a design that appeased most aesthetically while providing the experience that YachtWorld.com was looking for. The designs below are slowly being integrated into the production site. If you're so inclined, you can take a peek at <a href="http://m.yachtworld.com">the mobile version</a> featuring most of my redesign now.</p>
    </div>
    <div class="examples">
		<div class="example half"><img data-src="/img/projects/yachtworld/home-mobile.jpg" data-full="/img/projects/yachtworld/home-mobile-full.jpg"></div>
		<div class="example half"><img data-src="/img/projects/yachtworld/detail-mobile.jpg" data-full="/img/projects/yachtworld/detail-mobile-full.jpg"></div>
		<div class="example"><img data-src="/img/projects/yachtworld/home.jpg" data-full="/img/projects/yachtworld/home-full.jpg"></div>
    </div>
    <div class="footnotes">
        <sup id="yw-fn1">1. Thanks! That's kind of you. <a  class="footnote" href="#yw-ref1">Jump back to footnote 1.</a></sup>
        <sup id="yw-fn2">2. Hey pal. I have feelings. <a  class="footnote" href="#yw-ref2">Jump back to footnote 2.</a></sup>
        <sup id="yw-fn3">3. Actual feedback from a user. <a  class="footnote" href="#yw-ref3">Jump back to footnote 3.</a></sup>
    </div>
    <footer>
        <div class="up-next">
            <small>Up Next</small>
            <a href="#crossbrowsertesting"><h2>CrossBrowserTesting.com</h2></a>
            <p>An ongoing, iterative redesign of a web app.</p>
        </div>
    </footer>
</div>

<!-- <div class="project" id="boats">
    <div class="return">
        <a href="#">&larr; Back to Recent Work</a>
    </div>
    <header>
        <h1 class="title">Boats.com</h1>
        <p class="description">A redesign and strategic rethinking of an underdeveloped&nbsp;brand.</p>
        
    </header>
    <div class="content">
        <p>Boats.com is a boating news, resources, and classifieds site. My team at Simple Focus was engaged to not only redesign its UI, but to also research its users and explore other strategies for the site as a whole. Using information gathered from user feedback, we shifted the focus of Boats.com from classifieds to editorial, highlighting the large amount of content their team was already producing. I was responsible for design and front-end prototyping. This project is still in development with Boats.com's&nbsp;team.</p>
    </div>
    <div class="examples">
		<div class="example"><img data-src="/img/projects/boats/home-mobile.jpg" data-full="/img/projects/boats/home-mobile-full.jpg"></div>
		<div class="example"><img data-src="/img/projects/boats/a-b-c-testing.jpg"></div>
		<div class="example"><img data-src="/img/projects/boats/home.jpg" data-full="/img/projects/boats/home-full.jpg"></div>
    </div>
</div> -->

<div class="project" id="grooveshark">
    <div class="return">
        <a href="#">&larr; Back to Recent Work</a>
    </div>
    <header>
        <h1 class="title">Grooveshark</h1>
        <p class="description">A redesign excercise for a streaming music&nbsp;app.</p>
        
    </header>
    <div class="content">
        <h3>About the Project</h3>
        <p>Grooveshark engaged my team at Simple Focus at the earliest stage of the design process: concepting and ideating on innovative homepage ideas for a new version of Grooveshark.com, without any limitations. The reasoning behind the project was to bring an outside perspective to a product team that was deeply embedded in the current version of their&nbsp;app.</p>
        <h3>My process</h3>
        <p>I start most design projects on paper. The flexibility and freedom of sketching often leads to an outpouring of ideas. Some are good, most are bad, but they're all on paper (and out of my head), which is important. I challenge myself with an excercise called "4x4ing" – producing four crude but strategically different ideas in four minutes. The process is taxing, but forces me to move quickly and think on my feet. It usually produces fragments of solid ideas that can be pulled together into a few viable&nbsp;options.</p>
    </div>
    <div class="examples slideshow">
        <ul class="slides">
            {% for sketch in page.grooveshark_sketches %}
                <li class="slide"><img src="/img/projects/grooveshark/sketches/sketch-{{ sketch }}.jpg"></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <h3>The result</h3>
        <p>Over the course of a few days, I produced dozens of sketches and several high fidelity design ideas. The project was a success, and elements from a few of my designs are now in the core product direction of the next generation of Grooveshark's app. The screens below are a small sample of the designs I produced during the&nbsp;project.</p>
    </div>
    <div class="examples">
        <h2></h2>
		<div class="example"><img data-src="/img/projects/grooveshark/grooveshark-1.jpg"></div>
		<div class="example"><img data-src="/img/projects/grooveshark/grooveshark-2.jpg"></div>
		<div class="example"><img data-src="/img/projects/grooveshark/grooveshark-3.jpg"></div>
		<div class="example"><img data-src="/img/projects/grooveshark/grooveshark-4.jpg"></div>
		<div class="example"><img data-src="/img/projects/grooveshark/grooveshark-5.jpg"></div>
    </div>
    <footer>
        <div class="up-next">
            <small>Up Next</small>
            <a href="#yachtworld"><h2>Yachtworld</h2></a>
            <p>A design overhaul for a neglected high-end classifieds&nbsp;site.</p>
        </div>
    </footer>
</div>